html,
body {
    padding: 0;
    margin: 0;
    background-color: #2b3e50;
    height: 100%;
    border-radius: 10px;
}
h1 {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    text-align: center;
    font-size: 25px;
    font-weight: 100;
    color: #df691a;
    margin: 0;
    padding: 20% 0 0 0;
}
ol{
    padding: 20px 0;
}
ol, li {
    width:490px;
    margin:0 auto;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-weight:100;
    list-style: none;
    color: #fff;
    display: block;
    font-size: 18px;
    padding-left:0;
}
.titlebar {
    background-color: #4e5d6c;
}
